.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.child {

    }

.bigTreeNodeNode:hover {
    background-color: hotpink;
}
.bigTreeNodeNode {
}

.bigDropDownTree {
    max-width: 200px;
    max-height: 100px;
     background-color: lightgray;
  white-space: nowrap;
}

/* darkgrey color not received */
.fancy-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}
.fancy-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.fancy-scrollbar::-webkit-scrollbar-corner {
  border: none;
  width: 0;
  height: 0;
}
.fancy-scrollbar::-webkit-scrollbar-button {
  border: none;
  width: 0;
  height: 0;
}
.fancy-scrollbar::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #bbbbbb;
  background-repeat: no-repeat;
  cursor: pointer;
}
.fancy-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a2a2a2;
}
.fancy-scrollbar::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;


