 <h1>Directice BACON</h1>
 <script type="text/ng-template" id="treeNode">
    <div class="bigTreeNodeNode" ng-show="!node.nodes" 
    ng-bind="node.value" ng-attr-title="{{node.value}}"
    ng-click="bigDropdownTree({key:'Funkar'})"></div>
    <div ng-if="node.nodes">
           <span ng-click="showNodes[node.key] = !showNodes[node.key]">
               <i class="fa fa-sort-down" ng-class="{'fa-rotate-270':!showNodes[node.key]}"></i>
               <span ng-bind="node.value"  ng-attr-title="{{node.value}}"></span>
           </span>
           <div ng-if="showNodes[node.key]">
           <div ng-repeat="node in node.nodes" ng-include="'treeNode'" >
           </div>
    </div>
    </div>
 </script>
  <div class="bigDropDownTree fancy-scrollbar noselect">
    <div ng-repeat="node in tree" ng-include="'treeNode'">
    </div>
  </div>